@import "../../styles/variables";

.player {
    position: absolute;
    height: $player-height;
    width: $player-width;
    border-radius: 50%;
    border: 3px solid black;
    overflow: hidden;
    background-color: black;
}

.player.inactive {
    opacity: 0.5;
}

.avatar {
    height: 100%;
    width: 100%;
}

.bank-roll {
    width: 100%;
    height: 15%;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    bottom: 10%;

    // Text
    color: white;
    text-align: center;
    font-weight: bold;
}

.user {
    left: 50%;
    transform: translateX(-50%);
    bottom: -($player-height + $table-border-width + $player-table-spacing);
}

.player-1 {
    left: 50%;
    transform: translateX(-50%);
    top: -($player-height + $table-border-width + $player-table-spacing);
}

.player-2 {
    right: 50% - $player-spacing;
    transform: translateX(50%);
    top: -($player-height + $table-border-width + $player-table-spacing);
}

.player-3 {
    left: 50% - $player-spacing;
    transform: translateX(-50%);
    top: -($player-height + $table-border-width + $player-table-spacing);
}

.player-4 {
    right: -($player-width + $table-border-width);
    top: 10%;
}

.player-5 {
    left: -($player-width + $table-border-width);
    top: 10%;
}

.player-6 {
    right: -($player-width + $table-border-width);
    bottom: 10%;
}

.player-7 {
    left: -($player-width + $table-border-width);
    bottom: 10%;
}

.player-8 {
    right: 50% - $player-spacing;
    transform: translateX(50%);
    bottom: -($player-height + $table-border-width + $player-table-spacing);
}

.player-9 {
    left: 50% - $player-spacing;
    transform: translateX(-50%);
    bottom: -($player-height + $table-border-width + $player-table-spacing);
}