.card {
    height: 10%;
    width: 15%;
    background-color: white;
    border: 2px solid black;
    margin-right: 1rem;
    border-radius: 1.1rem;
    transition: border-color 0.3s ease;
}

.card:hover {
    border: 2px solid lightgray;
}

.back {
    padding: 0.8rem 0;
}

.card.pocket {
    height: 25rem;
    width: calc(25rem * 0.725);
}

.hide {
    visibility: hidden;
}