$pocket-card-overlap: -0.2rem;
$pocket-card-rotation: 0deg;

.card {
    // height: 10%;
    width: 15%;
    background-color: white;
    border: 2px solid black;
    margin-right: 1rem;
    border-radius: 1.1rem;
    transition: border-color 0.3s ease;
}

.card:hover {
    border: 2px solid lightgray;
    z-index: 9999;
}

.back {
    padding: 0.8rem 0;
}

.card.pocket {
    height: 25rem;
    width: calc(25rem * 0.725);
    margin-right: 0;
}

.card.pocket:nth-of-type(1) {
    rotate: -$pocket-card-rotation;
    margin-left: $pocket-card-overlap;
}

.card.pocket:nth-of-type(2) {
    rotate: $pocket-card-rotation;
    margin-left: -(2 * $pocket-card-overlap);
}

.hide {
    background-color: transparent;
    border: 1px solid white;
}

.card.hide:hover {
    border: 1px solid white;
}