.table {
    background: rgb(137, 183, 95);
    background: -moz-radial-gradient(circle, rgba(137, 183, 95, 1) 0%, rgba(55, 98, 67, 1) 100%);
    background: -webkit-radial-gradient(circle, rgba(137, 183, 95, 1) 0%, rgba(55, 98, 67, 1) 100%);
    background: radial-gradient(circle, rgba(137, 183, 95, 1) 0%, rgba(55, 98, 67, 1) 100%);
    margin: auto;
    width: 50%;
    /* make height 20% of width */
    padding: 10% 0;
    border-radius: 20rem;
    position: relative;
    border: 3rem solid #4c2d2b;
}

.community-cards {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.community-cards.card {
    flex-shrink: 0;
}