$table-border-width: 3rem;
$player-height: 8rem;
$player-width: 8rem;
$player-spacing: 27.5%;
$player-table-spacing: 1rem;
$app-background-color: #111E26;
$button-color: #e25d32;
$button-secondary-color: white;
$button-font-color: white;
// $app-background-color: #0F4C59;
// $button-color: #F26E50;
// $button-secondary-color: #F2F2F2;
// $button-font-color: #F2F2F2;
// $app-background-color: #2C3E50;
// $button-color: #E74C3C;
// $button-secondary-color: #ECF0F1;
// $button-font-color: #ECF0F1;
// $app-background-color: #035AA6;
// $button-color: #0583F2;
// $button-secondary-color: #F2F2F2;
// $button-font-color: #F2F2F2;